<img class="main-image" src="assets\pilt.png">

<div class="main-text">
Tere mina olen Elis. Tere tulemast!
</div>

<div class="rectangle"></div>

<div class="categories">
    <br>
    <div class="category" routerLink="work">
        <img class="category-image" src="assets\workpilt.jpg">
        <p class="category-text">Work</p>
    </div>
    <br>
    <div class="category" routerLink="hobbies">
        <img class="category-image" src="assets\hobbiespilt.jpg">
        <p class="category-text">Hobbies</p>
    </div>
    <br>
    <div class="category" routerLink="courses">
        <img class="category-image" src="assets\coursespilt.png">
        <p class="category-text">Courses</p>
    </div>
</div>
<br>
<br>