.items {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 100px;
}

.item {
    background-color: white;
    color: darkblue;
    width: 180px;
    margin: 10px 7px;
    border-radius: 10px;
}

.item:hover {
    transition: .5s;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, .35);
    cursor: pointer;
}

.item img {
    height: 150px;
    width: 150px;
    padding: 15px;
    border-radius: 20px;
}

.item:hover img {
    transform: scale(1.1);
    transition: .5s;
}

.item p {
   padding: 0 15px; 
}

.selects {
    display: flex;
    justify-content: space-evenly;
}