.item {
    background-color: white;
    color: darkblue;
    width: 180px;
    margin: 30px auto;
    border-radius: 10px;
    margin-bottom: 100px;
}

.item img {
    height: 150px;
    width: 150px;
    padding: 15px;
    border-radius: 20px;
}

.item p {
    padding: 0 15px; 
 }

 .add-to-cart {
     cursor: pointer;
     opacity: 0.7;
 }

 .add-to-cart:hover {
    cursor: pointer;
    opacity: 1;
}