<div class="header">
    <img src="assets\FAVPNG_computer-icon_sR13FXVt.png" routerLink="/">
    <button routerLink="/item/new">{{'Lisa uus ese' | translate }}</button>
    <button routerLink="/item/all">Vaata kõiki esemeid</button>
    <div>
      <div class="header-link" routerLink="login">Logi sisse / Registreeru</div>
      <div class="header-link" routerLink="cart">Ostukorv</div>
      <button (click)="useLanguage('en')">en</button>
      <button (click)="useLanguage('ee')">ee</button>
    </div>
  </div>