.header {
    background-color: rgb(176, 190, 206);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header-link {
    margin: 20px;
    cursor: pointer;
    text-align: center;
}

.header img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.header-link img {
    width: 40px;
    height: 40px;
}

#flags {
    text-align: center;
}

.header span img {
    width: 20px;
    height: 20px;
}