<div class="header">
    <img src="assets\FAVPNG_computer-icon_sR13FXVt.png" routerLink="/">
    <button *ngIf="loggedIn" routerLink="/item/new">{{'Lisa uus ese' | translate }}</button>
    <button *ngIf="loggedIn" routerLink="/item/all">Vaata kõiki esemeid</button>
    <div>
      <div *ngIf="loggedIn" class="header-link" (click)="onLogout()">Logi välja</div>
      <div *ngIf="!loggedIn" class="header-link" routerLink="login">Logi sisse / Registreeru</div>
      <div class="header-link" routerLink="cart"><img src="assets\shopping-cart.svg"></div>
      <div id="flags">
        <span (click)="useLanguage('en')">
          <img src="assets\estonia.svg">
        </span>
        <span (click)="useLanguage('ee')">
          <img src="assets\united-kingdom.svg">
        </span>
      </div>
    </div>
  </div>